body {
  align-content: center;
}
.center{
  text-align: center;
  color: #00b300;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #00b300;
  border-radius: 10px;
  box-sizing: border-box;
}

input[type=submit] {
  background-color: #00b300;
  color: white;
  padding: 12px 18px;
  margin: 8px 0;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}

.move{
  display: flex;
  justify-content: center;
}
a.psw {
  display: inline-block;
  font-size: 16px;
  color: white;
  right: 0;
  width: 200px;
  background-color: #00b300;
  border-radius: 10px;
  text-align: center;
  padding: 13px 14px;
  margin: 2px;
}
a.cancelbtn {
  display: inline-block;
  font-size: 16px;
  color: white;
  right: 0;
  width: 200px;
  background-color: #f44336;
  border-radius: 10px;
  text-align: center;
  padding: 13px 14px;
  margin: 2px;
}

.sup{
  text-align: center;
}
.signupp {
  text-decoration: none;
  font-size: 15px;
  color: #00b300;
  position: center;
}

p.green {
  color: #00b300;
}

p.small {
  color: #00b300;
  font-size: 14px;
}

label.green {
  color: #00b300;
}
