<h2 class=" center"> LOGIN </h2>

<form #loginForm="ngForm" (ngSubmit)="loginUser(loginForm)">

  <input type="text" name="username" id="username" placeholder="Enter Username" ngModel>
  <br /><br />

  <input type="password" name="password" id="password" placeholder="Enter Password" ngModel>
  <br /><br />

  <input type="submit" name="submit" value="Login">
</form>

<div style="text-align:center; cursor:pointer;">
  <img src="../../../assets/img/btn_google_signin_light_normal_web.png" (click)="GoogleSignIn()" />
</div>
<br />

<div class="move">
  <a class="psw" href=""> Forgot Password </a>
  <a class="cancelbtn" href="index.html"> Cancel </a>
</div>
<br /><br />

<p class="sup">Don't have an account?  <a [routerLink]='["/signup"]' class="signupp"> Sign Up </a></p>
