<h2 class="center"> Travel Now </h2>

<form #travelForm="ngForm" (ngSubmit)="userLocation(travelForm)">

  <div>
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="15">
      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>
  </div>
  <!--onChooseLocation not working. used to get the location on the map if the user clicks on it.
  It should als register as the destination and the travel distance calculated for the user-->
  <br />
</form>

<form #searchForm="ngForm" (ngSubmit)="submitSearch($event, searchForm)">
  <div class="form-group">
    <input type="text" class="form-control" name="destination" id="destination" placeholder="Enter Destination" [(ngModel)]="searchQuery">
  </div>
  <button type="submit" class="btn btn-primary">Enter</button>
</form>
   


