<form #preferences="ngForm" (ngSubmit)="submitpreferences(preferences)">
  <div>
    <h2>Preferences</h2>
    <br />
    <div>
      <h3>Temperature range:</h3>
      <ng5-slider [(value)]="value" [(highValue)]="highValue" [options]="options"></ng5-slider>
    </div>

    <br />

    <div class="form-group">
      <h3> Preferred travel type:</h3>
      <select (change) ="Selected($event.target.value)" [value]="selectedTravelType" class="custom-select">
        <option value="0">Car</option>
        <option value="1">Bus</option>
        <option value="2">Bike</option>
        <option value="3">Walk</option>
        <option value="4">Unknown</option>
      </select>
    </div>

    <br />


    <h3> Weather preferences:</h3>
    <div class="custom-control custom-switch" id="snow">
      <input type="checkbox" class="custom-control-input" id="customSwitch1" [checked]="snow"   (change)="snow = !snow">
      <label class="custom-control-label" for="customSwitch1">Snow</label> <br />
    </div>

    <div class="custom-control custom-switch" value="rain" id="rain">
      <input type="checkbox" class="custom-control-input" id="customSwitch2" [checked]="rain"   (change)="rain = !rain">
      <label class="custom-control-label" for="customSwitch2">Rain</label> <br />
    </div>

    <br />
    <button type="button" class="btn btn-primary" (click)="submitpreferences()">Save</button>
  </div>
</form>
