
<div>
  <table class="table">
    <tbody>
      <tr [ngClass]="{'table-success': notification.nudgeResult == 0, 'table-danger': notification.nudgeResult == 1}" style="cursor:pointer" (click)="Details(notification.id)">
        <th scope="row" style="vertical-align:inherit; width:15% ">
          {{ notification.createdOn.getHours() + ':' + notification.createdOn.getMinutes() + ' ' + notification.createdOn.getDate() + '/' + notification.createdOn.getMonth() + '/' + notification.createdOn.getFullYear() }}
        </th>
        <td style="vertical-align:inherit;">
          {{notification.text }}
        </td>
        <td>
          <div style="display:inline-block; float: right">
            <button class="btn btn-success" style="margin-right:10px" (click)="GoodNudge($event, notification.id)">Good nudge!</button>
            <button class="btn btn-danger" (click)="BadNudge($event, notification.id)">I hate this.</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
