
<div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Time</th>
        <th scope="col">Text</th>
        <th scope="col" style="float:right">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let notification of notifications"   [ngClass]="{'table-success': notification.nudgeResult == 0, 'table-danger': notification.nudgeResult == 1}">
        <th scope="row" style="vertical-align:inherit; width:15% ">
          {{ notification.createdOn.getHours() + ':' + notification.createdOn.getMinutes() + ' ' + notification.createdOn.getDate() + '/' + notification.createdOn.getMonth() + '/' + notification.createdOn.getFullYear() }}
        </th>
        <td style="vertical-align:inherit;">
          {{notification.text }}
        </td>
        <td>
          <div style="display:inline-block; float: right">
            <button class="btn btn-success" style="margin-right:10px" (click)="GoodNudge(notification.id)">Good nudge!</button>
            <button class="btn btn-danger" (click)="BadNudge(notification.id)">I hate this.</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
