
<div>
  <table class="table">
    <tbody>
      <tr [ngClass]="{'table-success': notification.nudgeResult == 0, 'table-danger': notification.nudgeResult == 1}">
        <th scope="row" style="vertical-align:inherit; width:15% ">
          {{ notification.createdOn.getHours() + ':' + notification.createdOn.getMinutes() + ' ' + notification.createdOn.getDate() + '/' + notification.createdOn.getMonth() + '/' + notification.createdOn.getFullYear() }}
        </th>
        <td style="vertical-align:inherit;">
          {{notification.text }}
        </td>
        <td>
          <div style="display:inline-block; float: right">
            <button class="btn btn-success" style="margin-right:10px" (click)="GoodNudge(notification.id)">Good nudge!</button>
            <button class="btn btn-danger" (click)="BadNudge(notification.id)">I hate this.</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="showData">
    <div *ngIf="tripData">
      <h2>
        Trip details:
      </h2>
      <div>
        Duration: {{notification.duration}}
        <br />
        Distance: {{notification.distance}}
      </div>
    </div>
    <div>
      <h2>
        Environment details:
      </h2>
      <div>
        <div>
          Temperature: {{notification.temperature}} &#8451;
          <br />
        </div><div>
        Feels like: {{notification.reafFeelTemperature}} &#8451;
  <br />
</div><div>
  <!--Coverage: {{notification.skyCoverage}}
    <br />  -->

</div><div>
          Wind Condition: {{windCondition}}
          <br />
        </div><div  *ngIf="showWeather">
          Weather: {{weather}}
          <br />
        </div><div>
          Road Condition: {{roadCondition}}
        </div>
      </div>
    </div>
  </div>
</div>
