<h2 class="center"> Travel choice</h2>

<br />

<p class="center">
  Destination: {{query}} <br />
  Temperature : {{temperature}} &#8451; <br />
  Realfeel: {{realfeelTemperature}} &#8451; <br />
  Distance: {{distance}} <br />
  Walking : {{walking}}<br />
  Biking : {{bicycling}} <br />
  Bus : {{bus}}

</p>

<br /> <br />

       <form #travelType="ngForm" (ngSubmit)="pickTravelMode(travelType)">
         <div id="submit">
           <button (click)="Nudge(transportationTypes.Walk)" class="btn btn-primary">Walk</button>
           <button (click)="Nudge(transportationTypes.Bike)" class="btn btn-primary">Bike</button>
           <button (click)="Nudge(transportationTypes.Bus)" class="btn btn-primary">Bus</button>
         </div>
         <button (click)="Nudge(transportationTypes.Car)" class="loginbtn btn-primary">Default</button>
       </form>

