<h2 class="center"> Travel choice</h2>

<br />

<p class="center">
  Destination: {{query}} <br />
  Temperature : {{temperature}} <br />
  Realfeel: {{realfeelTemperature}} <br />
  Distance: {{distance}} <br />
  Walking : {{walking}}<br />
  Biking : {{bicycling}} <br />
  Bus : {{bus}}

</p>

<br /> <br />

<form #travelType="ngForm" (ngSubmit)="pickTravelMode(travelType)">
  <div id="submit">
    <button class="btn btn-primary">Walk/Bike</button>
    <button class="btn btn-primary">Bus</button>
    <button class="btn btn-primary">Default</button>
   
  </div>

</form>

<!--should get temperature, distance for all travel types and display the on the screen-->
