body {
      max-width: 100%;
      height: 100%;
      padding: 0;
      text-align: center;
      background-color: white;
      font-family: Arial, Arial, Helvetica, sans-serif;
}
.firstimage {
  height: 70%;
  width: 86%;
  /*border: 1px solid #00b300;*/
  border-radius: 70px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
