body {
  align-content: center;
}

.center {
  text-align: center;
  color: #00b300;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #00b300;
  border-radius: 10px;
  box-sizing: border-box;
}

input[type=submit] {
  background-color: #00b300;
  color: white;
  padding: 12px 18px;
  margin: 8px 0;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}
.green{
  color: #00b300;
  display: flex;
  justify-content: center;
}
.small{
  text-align: center;
}
.transport {
  color: #00b300;
  text-align: center;
}
.dropdown {
  display: flex;
  justify-content: center;
}
button[type=submit] {
  background-color: #00b300;
  color: white;
  padding: 12px 18px;
  margin: 8px 0;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}
a.cancelbtnsignup {
  display: flex;
  justify-content: center;
  background-color: #f44336;
  color: white;
  padding: 12px 18px;
  margin: 8px, 0;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  
}
.sup {
  text-align: center;
}

.signupp {
  text-decoration: none;
  font-size: 15px;
  color: #00b300;
  position: center;
}
